{% extends 'base.html' %}
{% load disease_tags %}
{% load django_markdown django_markdown_static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static css %}" />
{% endblock extra_css %}


{% block title %}{{ flatpage.title }}{% endblock title %}
{% block page_title %}{{ flatpage.title }}{% endblock page_title %}

{% block content %}
    <section id="content content-allele-description">
        <div class="container-fluid">
            {{ flatpage.content|markdown }}
        </div>
    </section>
    {% if flatpage.url == '/navbar/howitworks/' %}
        <section>
            <div class="container-fluid layout">
                <h1><span class="big-header-text">Your Coloured Genome</span><span class="small-sample-text">(sample)</span></h1>
                {% data_table %}
            </div>
        </section>
    {% endif %}
{% endblock content %}
