{% extends 'base.html' %}
{% load disease_tags %}
{% load django_markdown django_markdown_static %}

{% block extra_css %}
    <!--<link rel="stylesheet" type="text/css" href="{% static css %}" />-->
{% endblock extra_css %}

{% block title %}{{ flatpage.title }}{% endblock title %}
{% block page_title %}{{ flatpage.title }}{% endblock page_title %}

{% block content %}
    <section id="content" class="section">
        <div class="container">
            <div class="text-content">
                {{ flatpage.content|markdown }}
            </div>
        </div>
    </section>
    {% if flatpage.url == '/navbar/howitworks/' %}
	<section class="section has-pattern">
		<div class="container">
			<h2 class="title">Your Coloured Genome <small>(sample)</small></h2>
			{% data_table %}
		</div>
	</section>
    {% endif %}
{% endblock content %}
