{% extends 'base.html' %}
{% load django_markdown django_markdown_static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static css %}" />
{% endblock extra_css %}


{% block title %}{{ article.title }}{% endblock title %}
{% block page_title %}{{ article.title }}{% endblock page_title %}

{% block content %}
    <div class="panel-body">
        <h2>Your genotype is <span class="label label-genome" style="background: {{ your_allele.color_alias.color }};"><b>{{ your_allele.allele }}</b></span><span style="font-size: 26px;"> in Rsid {{ marker.rsid }}{% if article.gene_area %} in{{ article.gene_area|default_if_none:"" }} gene area{% endif %}</span></h2>
        <p>{{ your_allele.description|markdown }}</p>
    </div>
    <br>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{ article.title }}</h4>
        </div>
        <div class="panel-body allele-descr-panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Description:
                </div>
                <div class="panel-body">
                    {{ article.header|markdown }}

                </div>
            </div>
            <hr>
            <h4>What others see<h4>
            {% for allele in colors %}
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: {{ allele.color_alias.color }}">
                        {#                <h3 class="panel-title">{{ allele.header }}</h3>#}
                        <b>{{ allele.allele }}</b>
                    </div>
                    <div class="panel-body">
                        <p>{{ allele.description|markdown }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {{ article.footer|markdown }}
    <a class="btn btn-primary" href="mailto:info@genoomy.com?subject={{ request.build_absolute_uri|urlencode }}">Comment</a>
{% endblock content %}
