{% extends 'base.html' %}
{% load disease_tags %}
{% load staticfiles %}

{% block title %}Upload your genome{% endblock title %}
{% block page_title %}Upload your genome{% endblock page_title %}

{% block content %}
    <section id="content">
        <div class="container-fluid layout">
            {% include 'includes/upload_genome_form.html' %}
            <div id='progress-bar' class="progress" style="display: block;" data-upload_id="{{ upload_id }}">
                <div class="progress-bar progress-bar-start" role="progressbar">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid layout">
            <h1><span class="big-header-text">Your Coloured Genome</span><span class="small-sample-text">(sample)</span></h1>
            {% data_table %}
        </div>
    </section>
{% endblock content %}
