{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Upload your genome{% endblock title %}
{% block page_title %}Upload your genome{% endblock page_title %}

{% block content %}
    <section id="content">
        <div class="container-fluid layout">
            {% include 'includes/upload_genome_form.html' %}
            <div id='progress-bar' class="progress" data-upload_id="{{ upload_id }}">
                <div class="progress-bar progress-bar-start" role="progressbar">
                </div>
            </div>
        </div>
    </section>
{% endblock content %}