//colors
$gray: #808080;

#call-to-action {
	background-color: $gray;
	padding: 15px;
	font-size: 19px;
	p {
		margin: 1em 0;
	}
	.btn {
		margin: .6em 0;
	}
}
.call-to-action-inner {
	min-width: 100vw;
	margin: 0 auto;
	float: none;
}