@import "../variables/colors";

#call-to-action {
  background-color: $whitish;
  padding: 15px;
  font-size: 25px;
  p {
	margin: 1em 0;
  }
  .btn {
	margin: 1em 0;
	background-color: $bluish;
	border-color: $anetish;
	&:hover {
	  background-color: $orangish;
	  border-color: $orangish;
	}
  }
}
.call-to-action-inner {
  min-width: 100vw;
  margin: 0 auto;
  float: none;
}