{% extends 'base.html' %}

{% block title %}
    Password reset done
{% endblock title %}

{% block page_title %}
    Password reset done
{% endblock page_title %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="text-content">
                <p>
                    <strong>Password reset complete.</strong> You can now <a href="{% url "accounts:signin" %}">login</a> with new password.
                </p>
            </div>
        </div>
    </section>
{% endblock content %}