{% extends 'base.html' %}

{% block title %}
    Password reset done
{% endblock title %}

{% block page_title %}
    Password reset done
{% endblock page_title %}

{% block content %}
    <section id="content">
        <div class="container-fluid layout">
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Password reset complete.</strong> You can now login with new password.
            </div>
        </div>
    </section>
{% endblock content %}