{% extends 'base.html' %}

{% block title %}
    Password reset done
{% endblock title %}

{% block page_title %}
    Password reset done
{% endblock page_title %}

{% block content %}
    <section class="section">
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">

                    <div class="text-content">
                        <p>
                            <strong>Password reset email has been sent.</strong> Check your email.
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </section>
{% endblock content %}