#landing-header div.container {
    background: url("/static/imgs/header-background.gif");
    min-width: 100%;
    height: auto;
    text-align: center;
}

#landing-header .intro-text {
    color: #ffffff;
    padding-bottom: 40px;
}

#landing-header .intro-text .name {
    display: block;
    font-size: 4.75em;
    font-weight: 900;
    text-transform: uppercase;
}

#landing-header .intro-text .subtitle {
    font-weight: 500;
    font-size: 1.75em;
}

/*.banner-wrapper {*/
    /*font-family: 'Libre Baskerville', serif;*/
/*}*/

/*.banner-wrapper h1, .banner-wrapper h2 {*/
    /*color: #555555;*/
/*}*/

/*.banner-wrapper h1 {*/
    /*font-weight: 900;*/
    /*font-size: 44px;*/
/*}*/

/*.banner-wrapper h2 {*/
    /*font-size: 27px;*/
    /*line-height: 1.5;*/
/*}*/

/*.btn-action {*/
    /*display: block;*/
    /*font-size: 56px;*/
    /*font-weight: 900;*/
    /*width: 100%;*/
    /*height: 2.4em;*/
    /*padding-top: 24px;*/
/*}*/