$white: #ffffff;
$black: #000000;
$gray: #808080;
$color_wild_sand_approx: #f5f5f5;
$color_fern_green_approx: #398439;
$color_apple_approx: #4cae4c;
$crimson:  crimson;

$yellogreenish: #c7f464;
$orangish: #c7a666;
$navbar_col: #556270;
$transparent: rgba(0,0,0, 0);