{% extends 'base.html' %}

{% block title %}Disable account{% endblock title %}
{% block page_title %}Disable account{% endblock page_title %}

{% block header %}
{% endblock header %}

{% block content %}
    <section class="form section has-pattern">
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                    <h1 class="title">Disable account</h1>
                    <div class="intro">

                        <p>Disabling your account will make all your data inaccessible. This cannot be undone.</p>

                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="cnt-form col-md-6 col-sm-12 col-xs-12 col-md-offset-3">

                    <form action="{% url "accounts:disable" %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <button class="btn btn-lg btn-danger"><i class="glyphicon glyphicon-remove"></i> Disable account</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
{% endblock content %}
