{% extends "success_modal.html" %}

{% block modal_title %}
    Success!
{% endblock modal_title  %}

{% block alert_message %}
    <p>
        Thank you for signup!
        {% if activated %}
            You can now login.
            <script>
                (function(){
                    console.log('pushed');
                    dataLayer.push({'event': 'UserActivation'});
                })();
            </script>
        {% else %}
            To login you need activation code first.
        {% endif %}
    </p>
    <script>
        (function(){
            console.log('pushed');
            dataLayer.push({'event': 'UserRegistration'});
        })();
    </script>
{% endblock alert_message %}