{% extends "success_modal.html" %}

{% block modal_title %}
    Success!
{% endblock modal_title  %}

{% block alert_message %}
    <p>
        Thank you for registering!
        {% if activated %}
            You can now login.
            <script>
                (function(){
                    dataLayer.push({'event': 'UserActivation'});
                    $(document).trigger('reload-page');
                })();
            </script>
        {% else %}
            To login you need activation code first.
        {% endif %}
    </p>
    <script>
        (function(){
            dataLayer.push({'event': 'UserRegistration'});
        })();
    </script>
{% endblock alert_message %}