{% extends 'base.html' %}

{% block title %}Login{% endblock title %}
{% block page_title %}Login{% endblock page_title %}

{% block content %}
    <section id="content">
        <div class="container-fluid layout">
            {% include 'includes/signin_form.html' %}
        </div>
    </section>
{% endblock content %}

{% block modals %}
    <div class="modal fade" id="modal-signup">
        <div class="modal-dialog">
            <div id="modal_content" class="modal-content">
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
{% endblock modals %}