{% extends 'base.html' %}

{% block title %}Signin{% endblock title %}
{% block page_title %}Signin{% endblock page_title %}

{% block content %}
    {% include 'includes/signin_form.html' %}
    <a class="btn btn-primary" data-toggle="modal" href="{% url "accounts:signup" %}" data-target="#modal-signup">Don't hava an account?</a>
{% endblock content %}

{% block modals %}
    <div class="modal fade" id="modal-signup">
        <div class="modal-dialog">
            <div id="modal_content" class="modal-content">
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
{% endblock modals %}