<footer class="footer">
	<div class="container">
		{#<small class="copyright pull-left">Copyright &copy; 2015 <a href="http://themes.3rdwavemedia.com/" target="_blank">3rd Wave Media</a></small>#}
		<ul class="links list-inline">
			<li><a href="/">Genoomy</a></li>
			<li><a href="/faq/">FAQ</a></li>
			<li><a href="mailto:info@genoomy.com"><i class="fa fa-envelope" aria-hidden="true"></i> info@genoomy.com</a></li>
		</ul>
	</div>
</footer><!--//footer-->

<!-- {% include "includes/version.txt" %} -->
