@import "variables/colors";

html {
	position: relative;
	min-height: 100%;
}
body {
	margin-top: 5rem;
	margin-bottom: 60px;
  	overflow-x: hidden;
  	font-family: 'Lato', sans-serif;
}
.header {
	display: block;
}
.label {
	color: $black;
  	font-weight: 400;
}
.progress {
	margin-top: 10px;
}

#upload_form input[type=file],#upload_form input[type=email] {
	width: 50vw;
}

table#genomeData tbody td.first .color-mark {
    display: inline;
    padding-right: 5px;
    margin-right: 3px;
}
table#genomeData tbody td .color-mark {
    display: none;
}
table#genomeData tbody tr:hover {
    background-color: #F0F0F0;
}
