@import "variables/colors";

.navbar-inverse {
  background-color: $navbar_col;
}

.navbar {
  	.container {
		@media (min-width: 1100px) {
		  width: 1050px;
		}
		@media (min-width: 1200px) {
		  width: 1170px;
		}
	}
}

.navbar-inverse .navbar-nav > li > a{
	  color: $navbar_link_col;
}

.btn-login {
	color: $white;
	border: 2px solid;
	border-color: $bluish;
	background-color: $transparent;
	&:hover {
		color: $white;
	}
}

.btn-register {
  background-color: $bluish;
  border-color: $bluish;
  &:hover {
	background-color: $orangish;
	border-color: $orangish;
  }
}

.btn-top-align {
	margin-top: 7px;
}
.btn-logout {
	color: $white;
	background-color: $transparent;
	border: 2px solid $color_fern_green_approx;
}
.btn-admin {
	color: $white;
	background-color: $transparent;
	border: 2px solid $crimson;
}
.navbar-brand > img {
	height: 24px;
}