{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
{% endblock header %}

{% block content %}
<section class="section-404 offset-header has-pattern">
	<div class="container text-center">
		<h2 class="title title-404">404</h2>
		<p class="intro">Oops! Sorry, we can't find the page you're looking for...</p>
		<p class="guide">You may have typed the address incorrectly or you may have used an outdated link.</p>
		<a class="btn btn-lg btn-theme" href="/">Back to Home</a>
	</div><!--//container-->
</section><!--//404-->
{% endblock content %}