{% extends 'base.html' %}
{% load django_markdown django_markdown_static %}
{% load flatpages %}

{% block title %}FAQ{% endblock title %}
{% block page_title %}FAQ{% endblock page_title %}

{% block content %}
    {% comment %}
    Poprzednia wersja z linkami.
    {% endcomment %}

    {% get_flatpages '/faq/' as faq_pages %}
	<section class="faq section">
		<div class="container">

			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">

					<ol>
						{% for flatpage in faq_pages %}
						<li><a href="#faq-section-{{ flatpage.pk }}">{{ flatpage.title }}</a></li>
						{% endfor %}
					</ol>

				</div>
			</div>

			{% for flatpage in faq_pages %}
				<div class="row">
					<h2 id="faq-section-{{ flatpage.pk }}" class="title text-center">{{ flatpage.title }}</h2>
					<div class="faq-col col-md-12 col-sm-12 col-xs-12">
						<div class="item">
							<div class="answer">
								{{ flatpage.content|markdown }}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</section>
{% endblock content %}
