{% extends 'base.html' %}
{% load django_markdown django_markdown_static %}
{% load flatpages %}

{% block title %}FAQ{% endblock title %}
{% block page_title %}FAQ{% endblock page_title %}

{% block content %}
    {% comment %}
    Poprzednia wersja z linkami.
    {% endcomment %}

    {% get_flatpages '/faq/' as faq_pages %}
    <section>
        <div class="container-fluid layout">
            <div class="list-group">
                {% for flatpage in faq_pages %}
                    <a class="list-group-item" href="#faq-section-{{ flatpage.pk }}">{{ flatpage.title }}</a>
                {% endfor %}
            </div>
        </div>
    </section>
    {% for flatpage in faq_pages %}
        <section id="content content-allele-description">
            <div class="container-fluid">
                <h2 id="faq-section-{{ flatpage.pk }}">{{ flatpage.title }}</h2>
                {{ flatpage.content|markdown }}
            </div>
        </section>
    {% endfor %}
{% endblock content %}
