{% extends 'base.html' %}
{% load flatpages %}

{% block title %}FAQ{% endblock title %}
{% block page_title %}FAQ{% endblock page_title %}

{% block content %}
    <section class="section">
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">

                    {% get_flatpages '/faq/' as faq_pages %}
                    <ol>
                        {% for page in faq_pages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ol>

                </div>
            </div>


        </div>
    </section>
{% endblock content %}