{% extends 'base.html' %}

{% block page_title %}
    <span>
        Color Your Genome
        <span>
            sample:
        </span>
    </span>
{% endblock page_title %}

{% block banner %}
    {% if not request.user.is_authenticated %}
        <div>
            <div>
                <h1>Understand your genes!</h1>
                <h2>Colour your genes and get short human
                    readable description of how they work.</h2>

                <a href="{% url "disease:upload_genome" %}"><span>Upload genome</span></a>
            </div>
        </div>
    {% endif %}
{% endblock banner %}

{% block content %}
    {% if request.user.is_authenticated %}
    {% elif not request.user.is_authenticated %}
        <!--  <a class="btn btn-default btn-lg leavemail" data-toggle="modal" href="{% url "accounts:create_with_email" %}" data-target="#modal-email">Leave your email</a>-->

        <!--  <div class="navbar navbar-fixed-bottom">
            <div class="container">
                <div class="row">
                    <a class="btn btn-danger btn-lg center-block" href="{% url "disease:upload_genome" %}">Upload your genome</a>
                </div>

            </div>
        </div>-->
    {% endif %}

    {% include 'includes/color_legend.html' %}
    {% include 'includes/data_table.html' %}
{% endblock content %}

