{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
    <header id="landing-header">
        <div class="container layout">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="intro-text">
                        <span class="name">What your DNA <br> says about you?</span>
                        <img class="img-responsive" src="{% static "imgs/superman.png" %}"></img>
                        <div class="col-md-offset-3 col-md-6">
                            <div>
                                <div class="row"><button class="btn btn-primary btn-lg">Upload Genome</button></div>
                            </div>
                        </div>
                    </div>

                    {#            {% if not request.user.is_authenticated %}#}
                    {#                <div class="banner-wrapper row">#}
                    {#                    <div class="col-md-6">#}
                    {#                        <img src="{% static 'imgs/happypeople.jpg' %}" class="img-responsive" alt="Responsive image">#}
                    {#                    </div>#}
                    {#                    <div class="col-md-6 text-center">#}
                    {#                        <h1>#}
                    {#                            Understand your genes!#}
                    {#                        </h1>#}
                    {#                        <h2>#}
                    {#                            Colour your genes and get short human#}
                    {#                            readable description of how they work.#}
                    {#                        </h2>#}
                    {#                        <a class="btn btn-danger btn-action" href="{% url "disease:upload_genome" %}" role="button">#}
                    {#                            Upload genome#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                </div>#}
                    {#            {% endif %}#}
                </div>
    </header>
{% endblock header %}

{% block content %}
    <section id="carousel">
        <div class="container layout">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        {#      <img src="http://placehold.it/1200x315" alt="...">#}
                        <div class="carousel-caption">
                            <div class="col-md-8 carousel-caption-inner">
                                <div class="col-md-4">
                                    <img class="img-thumbnail" src="http://placehold.it/80x80" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <h3>Great product, would recommend it</h3>
                                    <p>Mr Social Proof</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        {#      <img src="http://placehold.it/1200x315" alt="...">#}
                        <div class="carousel-caption">
                            <div class="col-md-8 carousel-caption-inner">
                                <div class="col-md-4">
                                    <img class="img-circle" src="http://placehold.it/80x80" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <h3>Great product, would recommend it</h3>
                                    <p>Mr Social Proof</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        {#      <img src="http://placehold.it/1200x315" alt="...">#}
                        <div class="carousel-caption">
                            <div class="col-md-8 carousel-caption-inner">
                                <div class="col-md-4">
                                    <img class="img-rounded" src="http://placehold.it/80x80" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <h3>Great product, would recommend it</h3>
                                    <p>Mr Social Proof</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div> <!-- Carousel -->
    </section><!-- Carousel section -->

    <section id="features-sec">
        <div class="container layout">
            <div class="col-md-12 features text-center">
                <div class="col-md-4 feature">
                    <img class="img-thumbnail" src="{% static "imgs/foodish.png" %}" alt="...">
                    <h4>Food</h4>
                </div>
                <div class="col-md-4 feature">
                    <img class="img-thumbnail" src="{% static "imgs/sportish.png" %}" alt="...">
                    <h4>Sport</h4>
                </div>
                <div class="col-md-4 feature ">
                    <img class="img-thumbnail" src="{% static "imgs/infinitish.png" %}" alt="...">
                    <h4>Longevity</h4>
                </div>
            </div>
        </div>
    </section>


    <section id="call-to-action">
        <div class="container layout">
            <div class="col-md-8 text-center">
                <p>
                    <strong>Simple pricing: </strong> 19$ to get analysis of your genoome
                </p>
            </div>
            <div class="col-md-4">
                <button class="btn btn-success btn-lg">Analyze your data now</button>
            </div>
        </div>
    </section>


    {#    {% include 'includes/color_legend.html' %}#}
    <section>
        <div class="container layout">
            <h1><span class="big-header-text">Your Coloured Genome</span><span class="small-sample-text">(sample)</span></h1>
            {% include 'includes/data_table.html' %}
        </div>
    </section>
{% endblock content %}