.panel-heading, .panel-footer {
  padding: 0.2vw 1vw;
}

.panel-heading {
  h4 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.allele-description-footer {
  padding: 0.2vw 1vw;
  h2 {
    font-size: 22px;
    margin: 2px 0 6px 0;
  }
}