<div class="legend">
{#    <div id='toggle-legend-btn' class="toggle-legend"><span class="glyphicon glyphicon-question-sign"></span></div>#}
    <h3>Meaning of colors</h3>
    <p>Colors are only approximate information, to learn more please click on specific bar.</p>
    <ul class="list-group">
        <li class="list-group-item"><span class="label label-positive">Positive</span></li>
        <li class="list-group-item"><span class="label label-neutral">Neutral</span></li>
        <li class="list-group-item"><span class="label label-disadvantage">Disadvantage</span></li>
        <li class="list-group-item"><span class="label label-negative">Very negative</span></li>
        <li class="list-group-item"><span class="label label-interesting">Interesting</span></li>
    </ul>
</div>