<div class="legend">
{#    <div id='toggle-legend-btn' class="toggle-legend"><span class="glyphicon glyphicon-question-sign"></span></div>#}
   <!-- <h3>Meaning of colors</h3>
    <p>Colors are only approximate information, to learn more please click on specific bar.</p>-->
	
    <ul class="list-group">
        {% for legend_row in legend_rows %}
        <li class="list-group-item label" style="background-color: {{ legend_row.color.color }}">
            {{ legend_row.content }}
        </li>
        {% endfor %}
    </ul>
	<div class="titleoflegend">Legend </div>
</div>
