<div class="container filter_labels">
    {% for tag in allele_tags %}
        <span class="label label-primary"><b>{{ tag.slug }}</b></span>
    {% endfor %}
</div>

<div class="checkbox-list"><div class="checkbox-lister"><span class="glyphicon glyphicon-cog " style="
    font-size: 2em;
    line-height: 1em;
	top:8px;
"></span>Change table fields</div>
    <ul class="checkbox-listinn">
        <li><label class="rounded-all">Rsid<input class="checkbox-row" id="ch3" name="3" type="checkbox" value="ci1"></label></li>
        <li><label class="rounded-all">Chromosome pos.<input class="checkbox-row" id="ch1" name="1" type="checkbox" value="ci2"></label></li>
        <li><label class="rounded-all">Risk Allele<input class="checkbox-row" id="ch2" name="2" type="checkbox" value="ci3"></label></li>
        <li><label class="rounded-all">Genotype<input class="checkbox-row" id="ch7" name="7" type="checkbox" value="ci4"></label></li>
        <li><label class="rounded-all">Disease Trait<input class="checkbox-row" id="ch8" name="8" type="checkbox" value="ci5"></label></li>

        <li><label class="rounded-all">P walue <input class="checkbox-row" id="ch4" name="4" type="checkbox" value="ci6"></label> </li>
        <li><label class="rounded-all">OR<input class="checkbox-row" id="ch5" name="5" type="checkbox" value="ci7"></label> </li>
        <li><label class="rounded-all">Risk<input class="checkbox-row" id="ch6" name="6" type="checkbox" value="ci8"></label> </li>
        <li id="savebutton">Save</li>
        <li id="defaultbutton">Toggle default</li>
    </ul>
</div>
<table id="genomeData" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>RSID</th>
        <th>CHROMOSOME POS</th>
        <th>RISK ALLELE</th>
        <th>GENOTYPE</th>
        <th>DISEASE TRAIT</th>
        <th>P VALUE</th>
        <th>OR</th>
        <th>RISK</th>
        <th>PRIORITY</th>
        <th>TAGS</th>
    </tr>
    <tr>
	
        <th>RSID</th>
        <th>CHROMOSOME POS</th>
        <th>RISK ALLELE</th>
        <th>GENOTYPE</th>
        <th>DISEASE TRAIT</th>
        <th>P VALUE</th>
        <th>OR</th>
        <th>RISK</th>
        <th>PRIORITY</th>
        <th>TAGS</th>
    </tr>
    </thead>


    <tfoot>
    <tr>
        <th>RSID</th>
        <th>CHROMOSOME POS</th>
        <th>RISK ALLELE</th>
        <th>GENOTYPE</th>
        <th>DISEASE TRAIT</th>
        <th>P VALUE</th>
        <th>OR</th>
        <th>RISK</th>
        <th>PRIORITY</th>
        <th>TAGS</th>
    </tr>
    </tfoot>
    <tbody>
    {% for row in table %}
        <tr data-url="{{ row.link }}?allele={{ row.genotype }}" {% if row.color %}style="background-color: {{ row.color }}"{% endif %}>
            <td>{{ row.rsid }}</td>
            <td>{{ row.chromosome_position }}</td>
            <td>{{ row.risk_allele }}</td>
            <td>{{ row.genotype }}</td>
            <td>{{ row.disease_trait }}</td>
            <td>{{ row.p_value }}</td>
            <td>{{ row.or_or_beta }}</td>
            <td>{{ row.risk }}</td>
            <td>{{ row.priority|default:0 }}</td>
            <td>{% for tag in row.tags %}{{ tag }}{% if not forloop.last %};{% endif %}{% endfor %}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>