<table id="genomeData" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>RSID</th>
        <th>CHROMOSOME POS</th>
        <th>RISK ALLELE</th>
        <th>GENOTYPE</th>
        <th>DISEASE TRAIT</th>
        <th>P VALUE</th>
        <th>OR</th>
        <th>RISK</th>
        <th>PRIORITY</th>
    </tr>
    <tr>
        <th>RSID</th>
        <th>CHROMOSOME POS</th>
        <th>RISK ALLELE</th>
        <th>GENOTYPE</th>
        <th>DISEASE TRAIT</th>
        <th>P VALUE</th>
        <th>OR</th>
        <th>RISK</th>
        <th>PRIORITY</th>
    </tr>
    </thead>


    <tfoot>
    <tr>
        <th>RSID</th>
        <th>CHROMOSOME POS</th>
        <th>RISK ALLELE</th>
        <th>GENOTYPE</th>
        <th>DISEASE TRAIT</th>
        <th>P VALUE</th>
        <th>OR</th>
        <th>RISK</th>
        <th>PRIORITY</th>
    </tr>
    </tfoot>
    <tbody>
    {% for row in table %}
        <tr data-url="{{ row.link }}" {% if row.color %}style="background-color: {{ row.color }}"{% endif %}>
            <td>{{ row.rsid }}</td>
            <td>{{ row.chromosome_position }}</td>
            <td>{{ row.risk_allele }}</td>
            <td>{{ row.genotype }}</td>
            <td>{{ row.disease_trait }}</td>
            <td>{{ row.p_value }}</td>
            <td>{{ row.or_or_beta }}</td>
            <td>{{ row.risk }}</td>
            <td>{{ row.priority|default:0 }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>