<form action="https://test.bitpay.com/checkout" method="post" >
    <input type="hidden" name="action" value="checkout" />
    <input type="hidden" name="posData" value="{{ pos_data }}" />
    <input type="hidden" name="data" value="Ytaff2F4aOE+oZTYo6vr8WerBMZ2MS12/r1yuBzmnfm++pjiScnE726GP8Kd81EoQ56v7Y3Xg+cZLQ3JMSj2OXjWAgZ3xGYvYqz6bjowI8/Ei7jkhELJn0RWr9I045yUEPQ2lXdxFlVIdnieRsIC40lcvMv7F64exgbJP4fnn6JZY2/iiY8Sw4yxWpZIA9jm+zpGycsvOehj1m6/ffLfEnAFVaphPpXR7PNmPMdBzi0=" />
    <input class="btn btn-success" type="submit" value="It's only 5$" />
</form>