{% extends 'generic_form.html' %}

{% block form_action %}{% url "accounts:signup" %}{% endblock form_action %}

{% block submit_button %}
    <input class="btn btn-primary" type="submit" value="Register" />
{% endblock submit_button %}

{% block additional_attributes %}
    id="signup_form"
{% endblock additional_attributes %}

{% block form %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            var form = $('#signup_form');
            form.ajaxForm({
                {#                target: '#modal-signup #modal_content'#}
                target: form.closest('.modal-content')
            });
            console.log('form updated');
        });
    </script>
{% endblock form %}