.big-header-text h1 {
    display: inline;
    font-size: 2rem;
    color: black;
}

.small-sample-text {
    font-size: 3rem;
    display: inline;
    padding: 1rem;
    color: grey;
}

.columns-check-list {
    list-style: none;
}

.columns-check-list li {
    display: inline;
}

#genomeData thead, .dataTables_length, .dataTables_filter, .table-settings{
    display: none;
}

/*#genomeData th span.form-control {*/
    /*border: none;*/
/*}*/

/*#genomeData th span input.form-control {*/
    /*display: inherit;*/
    /*width: inherit;*/
    /*height: inherit;*/
    /*padding:0;*/
    /*font-size: inherit;*/
    /*list-styleline-height: inherit;*/
    /*color: inherit;*/
    /*background-color: inherit;*/
    /*background-image: none;*/
    /*border-radius: 0;*/
    /*box-shadow: none;*/
    /*transition: none;*/
/*}*/