.features {
    max-width: 100%;
    margin: 20px auto;
}

.feature {
    margin-bottom: 10px;
}

.center-extended-container {
    max-width: 100%;
    margin: 0 auto;
}

.extended-container {
    width: 300%;
    /*margin-left: -100%;*/
}

#call-to-action {
    background-color: #808080;
    padding: 15px;
}

.call-to-action-inner {
    min-width: 100vw;
    margin: 0 auto;
    float: none;
}