.legend {
   /* background: none repeat scroll 0 0 white;*/
    border: 0px solid #ccc;
    /*padding: 14px;*/
	  padding: 0;
    position: fixed;
    right: -183px;
    top: 137px;
    width: 250px;
    z-index: 999;
	
}

.toggle-legend {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ccc -moz-use-text-color #ccc #ccc;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    cursor: pointer;
    display: block;
    height: 40px;
    left: -40px;
    position: absolute;
    width: 40px;
}
.toggle-legend > .glyphicon-question-sign {
    font-size: 2.1em;
}
.legend-active {
    right: 0px;
    -webkit-transition: right 500ms linear;
    -moz-transition: right 500ms linear;
    -o-transition: right 500ms linear;
    transition: right 500ms linear;
}


.label-positive {
    background-color: #00ff00;
}
.label-neutral {
    background-color: #ffff00;
}
.label-disadvantage {
    background-color: #ff8000;
}
.label-negative {
    background-color: #ff0000;
}
.label-interesting {
    background-color: #0080ff;
}
.row > .btn-danger {
    font-size: 38pt;
}

.legend > ul.list-group > li.list-group-item {
    border: none;
    padding: 0 0;
}
.legend > ul{width: 90%;
    float: right;}
.titleoflegend{
display: inline-block;
    float: left;
    margin-left: -7%;
    text-align: center;
    margin-right: -41%;
    z-index: 10000;
    margin-top: 33%;
    background: rgba(255, 255, 255, 0.74);
    width: 50%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    padding-right: 2%;
    -ms-transform: rotate(-90deg);
    font-size: 30px;
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.legend-active .titleoflegend {
    margin-left: -44px;
    -webkit-transition: margin-left 500ms linear;
    -moz-transition: margin-left 500ms linear;
    -o-transition: margin-left 500ms linear;
    transition: margin-left 500ms linear;
}
ul.list-group > li {
  /*  margin: 5px;*/
    padding: 5px;
}

ul.list-group > li > span.label {
    font-size: 20pt;
    color: #000000;
	    display: block;
    width: 100%;
}

#genomeData {
    display: none;;
}
.navbar .btn-success{
    margin-top: 7.5px;
	}
	.navbar-fixed-bottom{       background: rgba(215, 210, 210, 0.44);}
	.navbar-fixed-bottom .row{    padding: 1% 3% 1% 3%;}
	.navbar-fixed-bottom .container {}
	
span.form-control{
border:0;
padding:0;
}

.labeloftable{
 position: absolute;
    padding-top: 90px;
    font-size: 20px;
    line-height: 2em;
    font-weight: 600;
    color: #555;
    text-align: right;
    left: -59px;

}

.container{    position: relative;
	}