html, body {
    min-height: 100%;
}

p {
    font-size: 18px;
}

.legend {
    /* background: none repeat scroll 0 0 white;*/
    border: 0px solid #ccc;
    /*padding: 14px;*/
    padding: 0;
    position: fixed;
    right: -183px;
    top: 137px;
    width: 250px;
    z-index: 999;

}

.toggle-legend {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ccc -moz-use-text-color #ccc #ccc;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    cursor: pointer;
    display: block;
    height: 40px;
    left: -40px;
    position: absolute;
    width: 40px;
}
.toggle-legend > .glyphicon-question-sign {
    font-size: 2.1em;
}
@media screen and (min-width: 1600px) {
    .legend {
        right: 0px;
        -webkit-transition: right 500ms linear;
        -moz-transition: right 500ms linear;
        -o-transition: right 500ms linear;
        transition: right 500ms linear;
    }}
.legend-active {
    right: 0px;
    -webkit-transition: right 500ms linear;
    -moz-transition: right 500ms linear;
    -o-transition: right 500ms linear;
    transition: right 500ms linear;
}


.label-positive {
    background-color: #74e95c;
}
.label-neutral {
    background-color: #f8f885;
}
.label-disadvantage {
    background-color: #fea348;
}
.label-negative {
    background-color: #f54949;
}
.label-interesting {
    background-color: #4aa1f6;
}
.row > .btn-danger {
    font-size: 38pt;
}

.legend > ul.list-group > li.list-group-item {
    border: none;
    padding: 0 0;
}
.legend > ul{width: 90%;
    float: right;}
.titleoflegend{
    display: inline-block;
    float: left;
    margin-left: -34%;
    text-align: center;
    margin-right: -83%;
    z-index: 10000;
    margin-top: 31%;
    background: rgba(255, 255, 255, 0.74);
    width: 79%;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    padding-right: 2%;
    -ms-transform: rotate(-90deg);
    font-size: 30px;
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.legend-active .titleoflegend {
    margin-left: -39%;
    -webkit-transition: margin-left 500ms linear;
    -moz-transition: margin-left 500ms linear;
    -o-transition: margin-left 500ms linear;
    transition: margin-left 500ms linear;
}
ul.list-group > li {
    /*  margin: 5px;*/
    padding: 5px;
}

ul.list-group > li > span.label {
    font-size: 20pt;
    color: #000000;
    display: block;
    width: 100%;
}

/*#genomeData {
    display: none;
}*/
.navbar .btn-success{
    margin-top: 7.5px;
}
.navbar .navbar-form .btn-success{
    margin-top: 0px;
}
.navbar-fixed-bottom{       background: rgba(215, 210, 210, 0.44);}
.navbar-fixed-bottom .row{    padding: 1% 3% 1% 3%;}
.navbar-fixed-bottom .container {}

span.form-control{
    border:0;
    padding:0;
    line-height: 1em;
    color: rgba(255, 255, 255, 0);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.container {
    position: relative;
}

.leavemail {
    float:right;
}
.container table.dataTable thead th, table.dataTable thead td {
    padding: 1px 5px;
    border-bottom: 1px solid #111;
}
span.form-control:not(input){
    line-height:0;
}
span.form-control input {
    margin: 2px;
}
.footer{

}

.container table.dataTable thead th,table.dataTable thead td {
    /* padding: 10px 18px; */
    border-bottom: 1px solid #111;
}
.footer a{
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

h1{
    color: #555555;
    padding-right:2px;
}

table#genomeData.ci1 th:nth-child(1), table#genomeData.ci1 td:nth-child(1){
    display: none;
}
table#genomeData.ci2 th:nth-child(2), table#genomeData.ci2 td:nth-child(2) {
    display: none;
}
table#genomeData.ci3 th:nth-child(3), table#genomeData.ci3 td:nth-child(3) {
    display: none;
}
table#genomeData.ci4 th:nth-child(4), table#genomeData.ci4 td:nth-child(4) {
    display: none;
}
table#genomeData.ci5 th:nth-child(5), table#genomeData.ci5 td:nth-child(5) {
    display: none;
}
table#genomeData.ci6 th:nth-child(6), table#genomeData.ci6 td:nth-child(6) {
    display: none;
}
table#genomeData.ci7 th:nth-child(7), table#genomeData.ci7 td:nth-child(7) {
    display: none;
}
table#genomeData.ci8 th:nth-child(8), table#genomeData.ci8 td:nth-child(8) {
    display: none;
}

.checkbox-list{
        display: block;
    margin-top: -7px;
    margin-bottom: 20px;
	float:right;
    position:relative;
    cursor:pointer;
}
.checkbox-listinn{
    list-style: none;
    display:none;
    border-radius:3px;
    position:absolute;
    background: #F4F4F4;
    z-index: 10;
    /*right: 30px;*/
    /* text-align: center; */
    padding: 10px;
}
.checkbox-listinn.active{display:block;}
.checkbox-listinn label{
    width:155px;
    cursor:pointer;
}
.checkbox-listinn input{
    float:right;
}
.container{}

select{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    float: left;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#savebutton{
    color: #fff;
    background-color: #5cb85c;
    border-color: #FFFFFF;
    border: 1px solid;
    text-align: center;
    border-radius: 3px;
}

.label-genome {
    color: #000;
}

.btn-inverse {
    color: #FFF;
    background-color: #222;
    border-color: #ccc;
    border-width: 2px;
}

.btn-inverse:hover {
    color: #000;
    background-color: #ccc;
}

.btn-logout {
    margin-top: 7.5px;
}

.btn-register {
    color: #FFF;
    border: 2px solid;
    border-color: #398439;
}

.btn-register:hover {
    color: #FFF;
}

.progress {
    margin-top: 10px;
}

.footer.fixed{
    position: fixed;
    bottom: 0;
    width: 100%;

}

 table.dataTable.display tbody td {
    border-top: 1px solid #ddd;
    border-bottom: 5px solid #fff;
}

#genomeData tbody tr {
    cursor: hand;
}
#genomeData thead tr th span {
    height: auto;
}

.payment-choice {
    min-height: 100%
}

.payment-coupon a {
    background-color: transparent;
    color: #4cae4c;
}

.payment-coupon:before {
    min-height: 56px;
    display: block;
    content: " ";
}

.payment-bitpay:before {
    min-height: 56px;
    display: block;
    content: " ";
}

.payment-paypal form input[type="image"] {
    max-width: 100%;
    max-height: auto;
}
.filter_number_range.form-control{
font-size:0;
}
.filter_number_range.form-control input{
    float: left;
    width: 48%;
    margin: 1px;
	}
	
	.landing #genomeData_length{display:none; }
	.landing #genomeData_wrapper{    margin-top: -30px;}
	.landing  #genomeData_filter{    margin-bottom: 30px;}
	
	.ratiokeeper{        background: url('../imgs/Layer-4.jpg') #fff no-repeat right top;
    background-size: auto 100%;}
	
	.ratiokeeper{    padding-bottom: 23%;}
	.landing .checkbox-list{    margin-bottom: 20px;}
	
	.fullwidth h1{text-align:center; position: absolute;
    top: 5%;
    width: 100%;}
	.fullwidth h2{text-align:center; font-size:24px;    position: absolute;
    top: 63px;
}
	.fullwidth .uploadgenome span{
	       width: 100%;
		font-size: 2.2em;
		padding: 17.8% 0;
		line-height:0;
		text-align: center;
		background: #d54747;
		color: #fff;
		display: block;
		 border-radius: .25em;
position:absolute;
bottom:0;
	}
	.fullwidth  a.uploadgenome:hover{
	text-decoration:none;
	}
	.uploadgenome{    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* padding-bottom: 25%; */}
	.col-sm-6.smaller{max-width: 555px; padding-bottom: 23%;}
	.glyphicon-cog{ font-size: 4.5em;
    line-height: 1em;
	top:8px;}