@mixin media-query($media) {
    @if $media == hd {
        @media screen and (min-width: 1200px) {
            @content;
        }
    } @else if $media == nonhd {
        @media screen and (max-width: 1199px) {
            @content;
        }
    } @else if $media == tablet {
        @media screen and (max-width: 991px) {
            @content;
        }
    } @else if $media == phone {
        @media screen and (max-width: 767px) {
            @content;
        }
    } @else if $media == notphone {
        @media screen and (min-width: 768px) {
            @content;
        }
    } @else {
        @media screen and (max-width: $media) {
            @content;
        }
    }
}

$standard-space: '50px';

/** colors */
$color-white: #fff;
$color-black: #000;

$color-slate-gray:#737F97;
$color-slate-gray-transparent:rgba(115, 127, 151, 0.5);
$color-river-bed:#464e5e;
