.carousel-control {
    color: #000000;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel-inner {
    padding-bottom: 35px;
}

.carousel-caption{
    position:static;
    color: #808080;
    text-shadow: none;
}

.carousel-caption-inner {
    height: auto;
    margin: 0 auto;
    float: none;
}

.carousel-indicators {
    bottom: 10px;
}

.carousel-indicators li {
    border: 2px solid #808080;
}

.carousel-indicators li.active {
    background-color: #808080;
}